<a href="https://colab.research.google.com/github/kankot2020/-_-_Notebooks/blob/main/22_1017_%E5%94%AF%E5%AE%A2%E5%AD%B8%E9%99%A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 量化投資簡介系列

### ◆◆ 抓取股價歷史資料 (2022-06-08 16:15:18)<br>
>[YouTube](https://www.youtube.com/watch?v=DOeuNdeTl0Y&list=PLj4JWjo5dOC4e-rK0YtxhLWkl0P2irryq)
&nbsp;&nbsp;
[GitHub](https://github.com/ranaroussi/yfinance)

In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf
df = yf.download('2330.tw')
df.tail(10)

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close  Adj Close    Volume
Date
2022-10-03 00:00:00+08:00  418.5  424.5  416.5  417.0      417.0  36044395
2022-10-04 00:00:00+08:00  429.5  432.0  427.0  429.0      429.0  40375000
2022-10-05 00:00:00+08:00  444.5  451.0  442.0  445.0      445.0  46496536
2022-10-06 00:00:00+08:00  450.5  451.0  447.0  451.0      451.0  30331834
2022-10-07 00:00:00+08:00  448.5  448.5  437.0  438.0      438.0  31941781
2022-10-11 00:00:00+08:00  408.0  412.5  401.0  401.5      401.5  95793819
2022-10-12 00:00:00+08:00  397.0  400.0  395.5  397.5      397.5  53570085
2022-10-13 00:00:00+08:00  400.5  403.0  395.0  395.0      395.0  38046284
2022-10-14 00:00:00+08:00  414.5  416.0  409.0  412.0      412.0  54504366
2022-10-17 00:00:00+08:00  400.0  403.5  396.0  397.0      397.0  42642500

### ◆◆ 抓取上市公司基本資料 (2022-06-08 16:27:11)
>[YouTube](https://www.youtube.com/watch?v=aPec8FQbTCM&list=PLj4JWjo5dOC4e-rK0YtxhLWkl0P2irryq&index=2)
&nbsp;&nbsp;
[GitHub](https://github.com/ranaroussi/yfinance)

In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf
tw_2330 = yf.Ticker('2330.tw') # [MSFT:微軟] [TSLA:特斯拉] [AAPL:蘋果]
tw_2330.info

#### 上市公司基本資料 [網址](https://data.gov.tw/dataset/18419)
>編碼格式: UTF-8 &nbsp;&nbsp;
資料網址: https://mopsfin.twse.com.tw/opendata/t187ap03_L.csv

In [17]:
import pandas as pd
df = pd.read_csv('https://mopsfin.twse.com.tw/opendata/t187ap03_L.csv')
df.head()

,出表日期,公司代號,公司名稱,公司簡稱,外國企業註冊地國,產業別,住址,營利事業統一編號,董事長,總經理,...,過戶電話,過戶地址,簽證會計師事務所,簽證會計師1,簽證會計師2,英文簡稱,英文通訊地址,傳真機號碼,電子郵件信箱,網址
0,1111017,1101,台灣水泥股份有限公司,台泥,－,1,台北市中山北路2段113號,11913502,張安平,張安平,...,66365566,台北市重慶南路一段83號5樓,勤業眾信聯合會計師事務所,黃惠敏,郭政弘,TCC,"No.113, Sec.2, Zhongshan N. Rd.,Taipei City 10...",(02)2531-6529,finance@taiwancement.com,http://www.taiwancement.com
1,1111017,1102,亞洲水泥股份有限公司,亞泥,－,1,台北市大安區敦化南路2段207號30、31樓,3244509,徐旭東,李坤炎,...,02-7753-1699,新北市板橋區新站路16號13樓,勤業眾信聯合會計師事務所,戴信維,陳培德,ACC,"30-31F., No.207, Sec. 2, Dunhua S. Rd., Da' an...",02-2378-5191,service@acc.com.tw,www.acc.com.tw
2,1111017,1103,嘉新水泥股份有限公司,嘉泥,－,1,台北市中山北路2段96號,11892801,張剛綸,王立心,...,(02)2702-3999,台北市敦化南路2段97號地下2樓,勤業眾信聯合會計師事務所,陳薔旬,梁盛泰,CHC,"No.96, Sec. 2, Zhongshan N. Rd., Zhongshan Dis...",(02)2511-4002,ir@chcgroup.com.tw,www.chcgroup.com.tw
3,1111017,1104,環球水泥股份有限公司,環泥,－,1,台北市南京東路二段125號10樓,7568009,侯博義,侯智升,...,02-23816288,台北市博愛路17號3樓,勤業眾信聯合會計師事務所,楊朝欽,李季珍,UCC,"10th F1., 125 Nanking E.Rd Sec. 2,Taipei Taiwan",02-25075870,ucc@ucctw.com,www.ucctw.com
4,1111017,1108,幸福水泥股份有限公司,幸福,－,1,台北市松江路237號15樓,40601248,陳兩傳,陳兩傳,...,2381-6288,台北市中正區博愛路17號3樓,勤業眾信聯合會計師事務所,陳招美,陳薔旬,LUCKY CEMENT,"15TH FL.,NO.237,SUNG KIANG RD.,TAIPEI,TAIWAN,R...",25048672,"wendy@luckygrp,com.tw",www.luckygrp.com.tw

In [19]:
df['公司代號'].head()

0    1101
1    1102
2    1103
3    1104
4    1108
Name: 公司代號, dtype: int64

In [ ]:
for x in df['公司代號']:
    print(f"{x}.tw")