<a href="https://colab.research.google.com/github/kankot2020/-_-_Notebooks/blob/main/22_1017_%E5%94%AF%E5%AE%A2_%E9%87%8F%E5%8C%96%E6%8A%95%E8%B3%87%E7%B0%A1%E4%BB%8B%E7%B3%BB%E5%88%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 量化投資簡介系列

### 抓取股價歷史資料 (2022-06-08 16:15:18)<br>
>[YouTube](https://www.youtube.com/watch?v=DOeuNdeTl0Y&list=PLj4JWjo5dOC4e-rK0YtxhLWkl0P2irryq)
&nbsp;&nbsp;
[GitHub](https://github.com/ranaroussi/yfinance)

In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf
df = yf.download('2330.tw')
df.tail(10)

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close  Adj Close    Volume
Date
2022-10-03 00:00:00+08:00  418.5  424.5  416.5  417.0      417.0  36044395
2022-10-04 00:00:00+08:00  429.5  432.0  427.0  429.0      429.0  40375000
2022-10-05 00:00:00+08:00  444.5  451.0  442.0  445.0      445.0  46496536
2022-10-06 00:00:00+08:00  450.5  451.0  447.0  451.0      451.0  30331834
2022-10-07 00:00:00+08:00  448.5  448.5  437.0  438.0      438.0  31941781
2022-10-11 00:00:00+08:00  408.0  412.5  401.0  401.5      401.5  95793819
2022-10-12 00:00:00+08:00  397.0  400.0  395.5  397.5      397.5  53570085
2022-10-13 00:00:00+08:00  400.5  403.0  395.0  395.0      395.0  38046284
2022-10-14 00:00:00+08:00  414.5  416.0  409.0  412.0      412.0  54504366
2022-10-17 00:00:00+08:00  400.0  403.5  396.0  397.0      397.0  42642500